<h3>Listado de heroes:</h3>

<!--If the condition is not true, then go to else and render ng-template-->
<div *ngIf="deletedHero; else nothingWasDeleted">
    <h3>Heroe borrado <small class="text-danger">{{deletedHero}}</small></h3>
</div>

<!--Angular component, by default the content is not rendered by the browser-->
<ng-template #nothingWasDeleted>
    <h3>No ha borrado nada</h3>
</ng-template>

<!--If there are alements in the array, render the button-->
<button *ngIf="heroNames.length > 0" class="btn btn-outline-danger" (click)="removeLastHero()">
    Borrar último heroe
</button>

<!--Practise iterations with for loop:-->
<ul class="mt-2 list-group">
    <li class="list-group-item" *ngFor="let name of heroNames">{{name}}</li>
</ul>